{"openapi":"3.0.1","info":{"title":"GST Reconciliation System API","description":"APIs for user management, company GST, GSTR-1 upload and sync","contact":{"name":"GST Reconciliation","email":"support@gstreconciliation.com"},"version":"1.0.0"},"servers":[{"url":"https://api.taxjiffy.com","description":"Production Server"}],"security":[{"Bearer Auth":[]}],"tags":[{"name":"Roles","description":"Role management"},{"name":"GSTR-1 Sync","description":"Sync GSTR-1 data from government API"},{"name":"User-GST Mapping","description":"Map users to GST registrations with roles"},{"name":"Auth","description":"Login and authentication"},{"name":"GSTR-1 Upload","description":"Upload GSTR-1 Excel files and retrieve parsed data"},{"name":"Companies","description":"Company profile management"},{"name":"Subscription Plans","description":"Manage subscription plans"},{"name":"Company GST","description":"Company GST registrations"},{"name":"Users","description":"User management"}],"paths":{"/api/users/{id}":{"get":{"tags":["Users"],"operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}},"put":{"tags":["Users"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}},"delete":{"tags":["Users"],"operationId":"deactivate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/subscription-plans/{id}":{"get":{"tags":["Subscription Plans"],"operationId":"getById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSubscriptionPlanResponse"}}}}}},"put":{"tags":["Subscription Plans"],"operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionPlanRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSubscriptionPlanResponse"}}}}}},"delete":{"tags":["Subscription Plans"],"operationId":"deactivate_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/roles/{id}":{"get":{"tags":["Roles"],"operationId":"getById_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRolesResponse"}}}}}},"put":{"tags":["Roles"],"operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRolesResponse"}}}}}},"delete":{"tags":["Roles"],"operationId":"deactivate_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/company-gst/{id}":{"get":{"tags":["Company GST"],"operationId":"getById_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCompanyGSTResponse"}}}}}},"put":{"tags":["Company GST"],"operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyGSTRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCompanyGSTResponse"}}}}}},"delete":{"tags":["Company GST"],"operationId":"deactivate_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/companies/{id}":{"get":{"tags":["Companies"],"operationId":"getById_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCompanyProfileResponse"}}}}}},"put":{"tags":["Companies"],"operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCompanyProfileResponse"}}}}}},"delete":{"tags":["Companies"],"operationId":"deactivate_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/users":{"post":{"tags":["Users"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/api/users/register":{"post":{"tags":["Users"],"operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/api/user-gst-mapping":{"post":{"tags":["User-GST Mapping"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserGSTMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserGSTMappingResponse"}}}}}}},"/api/subscription-plans":{"get":{"tags":["Subscription Plans"],"operationId":"getAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSubscriptionPlanResponse"}}}}}},"post":{"tags":["Subscription Plans"],"operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionPlanRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSubscriptionPlanResponse"}}}}}}},"/api/roles":{"get":{"tags":["Roles"],"operationId":"getAll_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRolesResponse"}}}}}},"post":{"tags":["Roles"],"operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRolesResponse"}}}}}}},"/api/gstr1/upload":{"post":{"tags":["GSTR-1 Upload"],"operationId":"upload","parameters":[{"name":"companyGstId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"financialYear","in":"query","required":true,"schema":{"type":"string"}},{"name":"taxPeriod","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseGstr1UploadResponse"}}}}}}},"/api/gstr1/sync":{"post":{"tags":["GSTR-1 Sync"],"operationId":"sync","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSyncResponse"}}}}}}},"/api/company-gst":{"post":{"tags":["Company GST"],"operationId":"create_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyGSTRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCompanyGSTResponse"}}}}}}},"/api/company-gst/purchase":{"post":{"tags":["Company GST"],"operationId":"purchase","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyGSTRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCompanyGSTResponse"}}}}}}},"/api/companies":{"get":{"tags":["Companies"],"operationId":"getAll_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCompanyProfileResponse"}}}}}},"post":{"tags":["Companies"],"operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCompanyProfileResponse"}}}}}}},"/api/auth/login":{"post":{"tags":["Auth"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResponse"}}}}}}},"/api/users/by-company/{companyId}":{"get":{"tags":["Users"],"operationId":"getByCompany","parameters":[{"name":"companyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListUserResponse"}}}}}}},"/api/user-gst-mapping/by-user/{userId}":{"get":{"tags":["User-GST Mapping"],"operationId":"getByUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListUserGSTMappingResponse"}}}}}}},"/api/user-gst-mapping/by-company-gst/{companyGstId}":{"get":{"tags":["User-GST Mapping"],"operationId":"getByCompanyGST","parameters":[{"name":"companyGstId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListUserGSTMappingResponse"}}}}}}},"/api/gstr1/filings/{filingId}":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getFilingById","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseGstr1Filing"}}}}}}},"/api/gstr1/filings/{filingId}/hsn-b2c":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getHsnB2c","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1HsnB2c"}}}}}}},"/api/gstr1/filings/{filingId}/hsn-b2b":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getHsnB2b","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1HsnB2b"}}}}}}},"/api/gstr1/filings/{filingId}/expa":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getExpa","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Expa"}}}}}}},"/api/gstr1/filings/{filingId}/exp":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getExp","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Exp"}}}}}}},"/api/gstr1/filings/{filingId}/exemp":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getExemp","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Exemp"}}}}}}},"/api/gstr1/filings/{filingId}/ecoa":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getEcoa","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Ecoa"}}}}}}},"/api/gstr1/filings/{filingId}/eco":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getEco","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Eco"}}}}}}},"/api/gstr1/filings/{filingId}/eco-urp2c":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getEcoUrp2c","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1EcoUrp2c"}}}}}}},"/api/gstr1/filings/{filingId}/eco-urp2b":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getEcoUrp2b","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1EcoUrp2b"}}}}}}},"/api/gstr1/filings/{filingId}/eco-b2c":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getEcoB2c","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1EcoB2c"}}}}}}},"/api/gstr1/filings/{filingId}/eco-b2b":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getEcoB2b","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1EcoB2b"}}}}}}},"/api/gstr1/filings/{filingId}/eco-aurp2c":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getEcoAUrp2c","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1EcoAUrp2c"}}}}}}},"/api/gstr1/filings/{filingId}/eco-aurp2b":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getEcoAUrp2b","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1EcoAUrp2b"}}}}}}},"/api/gstr1/filings/{filingId}/eco-ab2c":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getEcoAB2c","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1EcoAB2c"}}}}}}},"/api/gstr1/filings/{filingId}/eco-ab2b":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getEcoAB2b","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1EcoAB2b"}}}}}}},"/api/gstr1/filings/{filingId}/docs":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getDocs","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Docs"}}}}}}},"/api/gstr1/filings/{filingId}/cdnura":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getCdnura","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Cdnura"}}}}}}},"/api/gstr1/filings/{filingId}/cdnur":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getCdnur","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Cdnur"}}}}}}},"/api/gstr1/filings/{filingId}/cdnra":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getCdnra","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Cdnra"}}}}}}},"/api/gstr1/filings/{filingId}/cdnr":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getCdnr","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Cdnr"}}}}}}},"/api/gstr1/filings/{filingId}/b2csa":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getB2csa","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1B2csa"}}}}}}},"/api/gstr1/filings/{filingId}/b2cs":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getB2cs","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1B2cs"}}}}}}},"/api/gstr1/filings/{filingId}/b2cla":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getB2cla","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1B2cla"}}}}}}},"/api/gstr1/filings/{filingId}/b2cl":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getB2cl","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1B2cl"}}}}}}},"/api/gstr1/filings/{filingId}/b2ba":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getB2ba","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1B2ba"}}}}}}},"/api/gstr1/filings/{filingId}/b2b":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getB2b","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1B2b"}}}}}}},"/api/gstr1/filings/{filingId}/atadja":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getAtadja","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Atadja"}}}}}}},"/api/gstr1/filings/{filingId}/atadj":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getAtadj","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Atadj"}}}}}}},"/api/gstr1/filings/{filingId}/ata":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getAta","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Ata"}}}}}}},"/api/gstr1/filings/{filingId}/at":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getAt","parameters":[{"name":"filingId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1At"}}}}}}},"/api/gstr1/filings/by-company-gst/{companyGstId}":{"get":{"tags":["GSTR-1 Upload"],"operationId":"getFilingsByCompanyGST","parameters":[{"name":"companyGstId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGstr1Filing"}}}}}}},"/api/company-gst/by-company/{companyId}":{"get":{"tags":["Company GST"],"operationId":"getByCompany_1","parameters":[{"name":"companyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCompanyGSTResponse"}}}}}}},"/api/user-gst-mapping/{id}":{"delete":{"tags":["User-GST Mapping"],"operationId":"deactivate_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}}},"components":{"schemas":{"UserRequest":{"type":"object","properties":{"companyId":{"type":"integer","format":"int32"},"userName":{"type":"string"},"userEmail":{"type":"string"},"userPassword":{"type":"string"}}},"ApiResponseUserResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserResponse"}}},"UserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"userName":{"type":"string"},"userEmail":{"type":"string"},"companyId":{"type":"integer","format":"int32"},"companyName":{"type":"string"},"isActive":{"type":"boolean"}}},"SubscriptionPlanRequest":{"type":"object","properties":{"name":{"type":"string"},"userCount":{"type":"integer","format":"int32"},"transactionCount":{"type":"integer","format":"int32"},"planAmount":{"type":"number"}}},"ApiResponseSubscriptionPlanResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SubscriptionPlanResponse"}}},"SubscriptionPlanResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"userCount":{"type":"integer","format":"int32"},"transactionCount":{"type":"integer","format":"int32"},"planAmount":{"type":"number"},"isActive":{"type":"boolean"}}},"RolesRequest":{"type":"object","properties":{"roleName":{"type":"string"},"description":{"type":"string"}}},"ApiResponseRolesResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RolesResponse"}}},"RolesResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"roleName":{"type":"string"},"description":{"type":"string"},"isActive":{"type":"boolean"}}},"CompanyGSTRequest":{"type":"object","properties":{"companyId":{"type":"integer","format":"int32"},"gstNumber":{"type":"string"},"subscriptionPlanId":{"type":"integer","format":"int32"},"isPaymentDone":{"type":"boolean"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"}}},"ApiResponseCompanyGSTResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CompanyGSTResponse"}}},"CompanyGSTResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"gstNumber":{"type":"string"},"companyId":{"type":"integer","format":"int32"},"companyName":{"type":"string"},"subscriptionPlanName":{"type":"string"},"isPaymentDone":{"type":"boolean"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"isActive":{"type":"boolean"}}},"CompanyProfileRequest":{"type":"object","properties":{"companyName":{"type":"string"},"companyLogo":{"type":"string"}}},"ApiResponseCompanyProfileResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CompanyProfileResponse"}}},"CompanyProfileResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"companyName":{"type":"string"},"companyLogo":{"type":"string"},"isActive":{"type":"boolean"}}},"UserGSTMappingRequest":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"companyGstId":{"type":"integer","format":"int32"},"roleId":{"type":"integer","format":"int32"},"isAdmin":{"type":"boolean"}}},"ApiResponseUserGSTMappingResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserGSTMappingResponse"}}},"UserGSTMappingResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"userName":{"type":"string"},"companyGstId":{"type":"integer","format":"int32"},"gstNumber":{"type":"string"},"roleName":{"type":"string"},"isAdmin":{"type":"boolean"},"isActive":{"type":"boolean"}}},"ApiResponseGstr1UploadResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/Gstr1UploadResponse"}}},"Gstr1UploadResponse":{"type":"object","properties":{"filingId":{"type":"integer","format":"int32"},"financialYear":{"type":"string"},"taxPeriod":{"type":"string"},"filingStatus":{"type":"string"},"excelFilePath":{"type":"string"},"totalRowsImported":{"type":"integer","format":"int32"},"b2bRows":{"type":"integer","format":"int32"},"b2baRows":{"type":"integer","format":"int32"},"b2clRows":{"type":"integer","format":"int32"},"b2claRows":{"type":"integer","format":"int32"},"b2csRows":{"type":"integer","format":"int32"},"b2csaRows":{"type":"integer","format":"int32"},"cdnrRows":{"type":"integer","format":"int32"},"cdnraRows":{"type":"integer","format":"int32"},"cdnurRows":{"type":"integer","format":"int32"},"cdnuraRows":{"type":"integer","format":"int32"},"expRows":{"type":"integer","format":"int32"},"expaRows":{"type":"integer","format":"int32"},"atRows":{"type":"integer","format":"int32"},"ataRows":{"type":"integer","format":"int32"},"atadjRows":{"type":"integer","format":"int32"},"atadjаRows":{"type":"integer","format":"int32"},"exempRows":{"type":"integer","format":"int32"},"hsnB2bRows":{"type":"integer","format":"int32"},"hsnB2cRows":{"type":"integer","format":"int32"},"docsRows":{"type":"integer","format":"int32"},"ecoRows":{"type":"integer","format":"int32"},"ecoaRows":{"type":"integer","format":"int32"},"ecoB2bRows":{"type":"integer","format":"int32"},"ecoUrp2bRows":{"type":"integer","format":"int32"},"ecoB2cRows":{"type":"integer","format":"int32"},"ecoUrp2cRows":{"type":"integer","format":"int32"},"ecoAB2bRows":{"type":"integer","format":"int32"},"ecoAB2cRows":{"type":"integer","format":"int32"},"ecoAUrp2bRows":{"type":"integer","format":"int32"},"ecoAUrp2cRows":{"type":"integer","format":"int32"}}},"ApiCredentials":{"type":"object","properties":{"email":{"type":"string"},"gstin":{"type":"string"},"retperiod":{"type":"string"},"gstUsername":{"type":"string"},"stateCd":{"type":"string"},"ipAddress":{"type":"string"},"txn":{"type":"string"},"clientId":{"type":"string"},"clientSecret":{"type":"string"}}},"SyncRequest":{"type":"object","properties":{"companyGstId":{"type":"integer","format":"int32"},"financialYear":{"type":"string"},"taxPeriod":{"type":"string"},"credentials":{"$ref":"#/components/schemas/ApiCredentials"}}},"ApiResponseSyncResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SyncResponse"}}},"SyncResponse":{"type":"object","properties":{"filingId":{"type":"integer","format":"int32"},"financialYear":{"type":"string"},"taxPeriod":{"type":"string"},"status":{"type":"string"},"totalRowsSynced":{"type":"integer","format":"int32"},"b2bRows":{"type":"integer","format":"int32"},"b2csRows":{"type":"integer","format":"int32"},"b2csaRows":{"type":"integer","format":"int32"},"b2claRows":{"type":"integer","format":"int32"},"cdnrRows":{"type":"integer","format":"int32"},"cdnurRows":{"type":"integer","format":"int32"},"cdnuraRows":{"type":"integer","format":"int32"},"expRows":{"type":"integer","format":"int32"},"expaRows":{"type":"integer","format":"int32"},"atRows":{"type":"integer","format":"int32"},"ataRows":{"type":"integer","format":"int32"},"exempRows":{"type":"integer","format":"int32"},"hsnB2bRows":{"type":"integer","format":"int32"},"hsnB2cRows":{"type":"integer","format":"int32"}}},"LoginRequest":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"ApiResponseLoginResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"LoginResponse":{"type":"object","properties":{"token":{"type":"string"},"userId":{"type":"integer","format":"int32"},"userName":{"type":"string"},"email":{"type":"string"}}},"ApiResponseListUserResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/UserResponse"}}}},"ApiResponseListUserGSTMappingResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/UserGSTMappingResponse"}}}},"ApiResponseListSubscriptionPlanResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionPlanResponse"}}}},"ApiResponseListRolesResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/RolesResponse"}}}},"ApiResponseGstr1Filing":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/Gstr1Filing"}}},"CompanyGST":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"company":{"$ref":"#/components/schemas/CompanyProfile"},"gstNumber":{"type":"string"},"subscriptionPlan":{"$ref":"#/components/schemas/SubscriptionPlan"},"isPaymentDone":{"type":"boolean"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"isActive":{"type":"boolean"},"createdDate":{"type":"string","format":"date"},"createdBy":{"type":"integer","format":"int32"},"updatedDate":{"type":"string","format":"date"},"updatedBy":{"type":"integer","format":"int32"}}},"CompanyProfile":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"companyName":{"type":"string"},"companyLogo":{"type":"string"},"isActive":{"type":"boolean"},"createdDate":{"type":"string","format":"date"},"ownerUserId":{"type":"integer","format":"int32"},"createdBy":{"type":"integer","format":"int32"},"updatedDate":{"type":"string","format":"date"},"updatedBy":{"type":"integer","format":"int32"}}},"Gstr1Filing":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"companyGST":{"$ref":"#/components/schemas/CompanyGST"},"financialYear":{"type":"string"},"taxPeriod":{"type":"string"},"filingStatus":{"type":"string"},"excelFilePath":{"type":"string"},"originalFileName":{"type":"string"},"isActive":{"type":"boolean"},"createdDate":{"type":"string","format":"date"},"createdBy":{"type":"integer","format":"int32"},"updatedDate":{"type":"string","format":"date"},"updatedBy":{"type":"integer","format":"int32"}}},"SubscriptionPlan":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"userCount":{"type":"integer","format":"int32"},"transactionCount":{"type":"integer","format":"int32"},"planAmount":{"type":"number"},"isActive":{"type":"boolean"},"createdDate":{"type":"string","format":"date"},"createdBy":{"type":"integer","format":"int32"},"updatedDate":{"type":"string","format":"date"},"updatedBy":{"type":"integer","format":"int32"}}},"ApiResponseListGstr1HsnB2c":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1HsnB2c"}}}},"Gstr1HsnB2c":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"hsn":{"type":"string"},"description":{"type":"string"},"uqc":{"type":"string"},"totalQuantity":{"type":"number"},"totalValue":{"type":"number"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"integratedTaxAmount":{"type":"number"},"centralTaxAmount":{"type":"number"},"stateUtTaxAmount":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1HsnB2b":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1HsnB2b"}}}},"Gstr1HsnB2b":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"hsn":{"type":"string"},"description":{"type":"string"},"uqc":{"type":"string"},"totalQuantity":{"type":"number"},"totalValue":{"type":"number"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"integratedTaxAmount":{"type":"number"},"centralTaxAmount":{"type":"number"},"stateUtTaxAmount":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Expa":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Expa"}}}},"Gstr1Expa":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"exportType":{"type":"string"},"originalInvoiceNumber":{"type":"string"},"originalInvoiceDate":{"type":"string","format":"date"},"revisedInvoiceNumber":{"type":"string"},"revisedInvoiceDate":{"type":"string","format":"date"},"invoiceValue":{"type":"number"},"portCode":{"type":"string"},"shippingBillNumber":{"type":"string"},"shippingBillDate":{"type":"string","format":"date"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Exp":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Exp"}}}},"Gstr1Exp":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"exportType":{"type":"string"},"invoiceNumber":{"type":"string"},"invoiceDate":{"type":"string","format":"date"},"invoiceValue":{"type":"number"},"portCode":{"type":"string"},"shippingBillNumber":{"type":"string"},"shippingBillDate":{"type":"string","format":"date"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Exemp":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Exemp"}}}},"Gstr1Exemp":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"description":{"type":"string"},"nilRatedSupplies":{"type":"number"},"exemptedSupplies":{"type":"number"},"nonGstSupplies":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Ecoa":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Ecoa"}}}},"Gstr1Ecoa":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"natureOfSupply":{"type":"string"},"financialYear":{"type":"string"},"originalMonthQuarter":{"type":"string"},"originalEcommerceGstin":{"type":"string"},"revisedEcommerceGstin":{"type":"string"},"ecommerceOperatorName":{"type":"string"},"revisedNetValueOfSupplies":{"type":"number"},"integratedTax":{"type":"number"},"centralTax":{"type":"number"},"stateUtTax":{"type":"number"},"cess":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Eco":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Eco"}}}},"Gstr1Eco":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"natureOfSupply":{"type":"string"},"ecommerceGstin":{"type":"string"},"ecommerceOperatorName":{"type":"string"},"netValueOfSupplies":{"type":"number"},"integratedTax":{"type":"number"},"centralTax":{"type":"number"},"stateUtTax":{"type":"number"},"cess":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1EcoUrp2c":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1EcoUrp2c"}}}},"Gstr1EcoUrp2c":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"placeOfSupply":{"type":"string"},"taxableValue":{"type":"number"},"rate":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1EcoUrp2b":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1EcoUrp2b"}}}},"Gstr1EcoUrp2b":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"recipientGstin":{"type":"string"},"recipientName":{"type":"string"},"documentNumber":{"type":"string"},"documentDate":{"type":"string","format":"date"},"valueOfSuppliesMade":{"type":"number"},"placeOfSupply":{"type":"string"},"documentType":{"type":"string"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1EcoB2c":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1EcoB2c"}}}},"Gstr1EcoB2c":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"supplierGstin":{"type":"string"},"supplierName":{"type":"string"},"placeOfSupply":{"type":"string"},"taxableValue":{"type":"number"},"rate":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1EcoB2b":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1EcoB2b"}}}},"Gstr1EcoB2b":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"supplierGstin":{"type":"string"},"supplierName":{"type":"string"},"recipientGstin":{"type":"string"},"recipientName":{"type":"string"},"documentNumber":{"type":"string"},"documentDate":{"type":"string","format":"date"},"valueOfSuppliesMade":{"type":"number"},"placeOfSupply":{"type":"string"},"documentType":{"type":"string"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1EcoAUrp2c":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1EcoAUrp2c"}}}},"Gstr1EcoAUrp2c":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"financialYear":{"type":"string"},"originalMonth":{"type":"string"},"placeOfSupply":{"type":"string"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1EcoAUrp2b":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1EcoAUrp2b"}}}},"Gstr1EcoAUrp2b":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"recipientGstin":{"type":"string"},"recipientName":{"type":"string"},"originalDocumentNumber":{"type":"string"},"originalDocumentDate":{"type":"string","format":"date"},"revisedDocumentNumber":{"type":"string"},"revisedDocumentDate":{"type":"string","format":"date"},"valueOfSuppliesMade":{"type":"number"},"documentType":{"type":"string"},"placeOfSupply":{"type":"string"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1EcoAB2c":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1EcoAB2c"}}}},"Gstr1EcoAB2c":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"financialYear":{"type":"string"},"originalMonth":{"type":"string"},"supplierGstin":{"type":"string"},"supplierName":{"type":"string"},"placeOfSupply":{"type":"string"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1EcoAB2b":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1EcoAB2b"}}}},"Gstr1EcoAB2b":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"supplierGstin":{"type":"string"},"supplierName":{"type":"string"},"recipientGstin":{"type":"string"},"recipientName":{"type":"string"},"originalDocumentNumber":{"type":"string"},"originalDocumentDate":{"type":"string","format":"date"},"revisedDocumentNumber":{"type":"string"},"revisedDocumentDate":{"type":"string","format":"date"},"valueOfSuppliesMade":{"type":"number"},"placeOfSupply":{"type":"string"},"documentType":{"type":"string"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Docs":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Docs"}}}},"Gstr1Docs":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"natureOfDocument":{"type":"string"},"srNoFrom":{"type":"string"},"srNoTo":{"type":"string"},"totalNumber":{"type":"integer","format":"int32"},"cancelled":{"type":"integer","format":"int32"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Cdnura":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Cdnura"}}}},"Gstr1Cdnura":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"urType":{"type":"string"},"originalNoteNumber":{"type":"string"},"originalNoteDate":{"type":"string","format":"date"},"revisedNoteNumber":{"type":"string"},"revisedNoteDate":{"type":"string","format":"date"},"noteType":{"type":"string"},"placeOfSupply":{"type":"string"},"noteValue":{"type":"number"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Cdnur":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Cdnur"}}}},"Gstr1Cdnur":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"urType":{"type":"string"},"noteNumber":{"type":"string"},"noteDate":{"type":"string","format":"date"},"noteType":{"type":"string"},"placeOfSupply":{"type":"string"},"noteValue":{"type":"number"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Cdnra":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Cdnra"}}}},"Gstr1Cdnra":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"gstinOfRecipient":{"type":"string"},"receiverName":{"type":"string"},"originalNoteNumber":{"type":"string"},"originalNoteDate":{"type":"string","format":"date"},"revisedNoteNumber":{"type":"string"},"revisedNoteDate":{"type":"string","format":"date"},"noteType":{"type":"string"},"placeOfSupply":{"type":"string"},"reverseCharge":{"type":"string"},"noteSupplyType":{"type":"string"},"noteValue":{"type":"number"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Cdnr":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Cdnr"}}}},"Gstr1Cdnr":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"gstinOfRecipient":{"type":"string"},"receiverName":{"type":"string"},"noteNumber":{"type":"string"},"noteDate":{"type":"string","format":"date"},"noteType":{"type":"string"},"placeOfSupply":{"type":"string"},"reverseCharge":{"type":"string"},"noteSupplyType":{"type":"string"},"noteValue":{"type":"number"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1B2csa":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1B2csa"}}}},"Gstr1B2csa":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"financialYear":{"type":"string"},"originalMonth":{"type":"string"},"placeOfSupply":{"type":"string"},"type":{"type":"string"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"ecommerceGstin":{"type":"string"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1B2cs":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1B2cs"}}}},"Gstr1B2cs":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"type":{"type":"string"},"placeOfSupply":{"type":"string"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"ecommerceGstin":{"type":"string"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1B2cla":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1B2cla"}}}},"Gstr1B2cla":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"originalInvoiceNumber":{"type":"string"},"originalInvoiceDate":{"type":"string","format":"date"},"originalPlaceOfSupply":{"type":"string"},"revisedInvoiceNumber":{"type":"string"},"revisedInvoiceDate":{"type":"string","format":"date"},"invoiceValue":{"type":"number"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"ecommerceGstin":{"type":"string"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1B2cl":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1B2cl"}}}},"Gstr1B2cl":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"invoiceNumber":{"type":"string"},"invoiceDate":{"type":"string","format":"date"},"invoiceValue":{"type":"number"},"placeOfSupply":{"type":"string"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"ecommerceGstin":{"type":"string"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1B2ba":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1B2ba"}}}},"Gstr1B2ba":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"gstinOfRecipient":{"type":"string"},"receiverName":{"type":"string"},"originalInvoiceNumber":{"type":"string"},"originalInvoiceDate":{"type":"string","format":"date"},"revisedInvoiceNumber":{"type":"string"},"revisedInvoiceDate":{"type":"string","format":"date"},"invoiceValue":{"type":"number"},"placeOfSupply":{"type":"string"},"reverseCharge":{"type":"string"},"applicableTaxRatePct":{"type":"number"},"invoiceType":{"type":"string"},"ecommerceGstin":{"type":"string"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1B2b":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1B2b"}}}},"Gstr1B2b":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"gstinOfRecipient":{"type":"string"},"receiverName":{"type":"string"},"invoiceNumber":{"type":"string"},"invoiceDate":{"type":"string","format":"date"},"invoiceValue":{"type":"number"},"placeOfSupply":{"type":"string"},"reverseCharge":{"type":"string"},"applicableTaxRatePct":{"type":"number"},"invoiceType":{"type":"string"},"ecommerceGstin":{"type":"string"},"rate":{"type":"number"},"taxableValue":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Atadja":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Atadja"}}}},"Gstr1Atadja":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"financialYear":{"type":"string"},"originalMonth":{"type":"string"},"originalPlaceOfSupply":{"type":"string"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"grossAdvanceAdjusted":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Atadj":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Atadj"}}}},"Gstr1Atadj":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"placeOfSupply":{"type":"string"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"grossAdvanceAdjusted":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Ata":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Ata"}}}},"Gstr1Ata":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"financialYear":{"type":"string"},"originalMonth":{"type":"string"},"originalPlaceOfSupply":{"type":"string"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"grossAdvanceReceived":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1At":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1At"}}}},"Gstr1At":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"filing":{"$ref":"#/components/schemas/Gstr1Filing"},"createdBy":{"type":"integer","format":"int32"},"placeOfSupply":{"type":"string"},"applicableTaxRatePct":{"type":"number"},"rate":{"type":"number"},"grossAdvanceReceived":{"type":"number"},"cessAmount":{"type":"number"},"createdDate":{"type":"string","format":"date"}}},"ApiResponseListGstr1Filing":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gstr1Filing"}}}},"ApiResponseListCompanyGSTResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CompanyGSTResponse"}}}},"ApiResponseListCompanyProfileResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CompanyProfileResponse"}}}},"ApiResponseVoid":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object"}}}},"securitySchemes":{"Bearer Auth":{"type":"http","description":"Paste your JWT token here. Get it from POST /api/auth/login","name":"Bearer Auth","scheme":"bearer","bearerFormat":"JWT"}}}}